.hub__blog {
  background: linear-gradient(360deg, rgba(34, 157, 160, 0.54) 0%, rgba(115, 191, 193, 0) 100%);
}
.hub__blog-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 64px 92px;
  margin: 5rem 0;
  gap: 10px;
  width: 1084px;
  height: 200px;
  left: 11px;
  top: 0px;
  background: #229DA0;
  border-radius: 10px;
}

.hub__blog-content::after {
  width: 1100px;
  height: 40px;
  left: 0px;
  top: 172px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(27.1828px);
  border-radius: 2px;
}

.hub__blog-content p {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  margin: 20px auto;
}
.hub__blog-content_input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 26px 24px;
  gap: 10px;
  width: 521px;
  height: 72px;
  left: 379px;
  top: 0px;
  background: #FFFFFF;
  border-radius: 4px;
}

.hub__blog-content_input input {
  border: none;
  outline: none;
  width: 70%;
}
.hub__blog-content_input button {
  padding: 16px 38px;
  gap: 10px;
  margin: -15px auto;
  background: #64A8C7;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-family: var(--font-main);
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}